body {
    font-family: 'Press Start 2P', cursive;
}
input, button {
	height: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

img {
	border: 10px solid #000;
}

.radio input, .radio label {
    vertical-align: middle;
    margin-right: 20px;
}
