@(guest: models.Guest) 

@main(Messages("decision.yes.title")) {
	<h1>@String.format(Messages("decision.yes.header"), guest.name)</h1>
	
	<p>@Messages("decision.yes.message")</p>
	
    <p><img id="error_picture" src='@routes.Assets.at("images/meme-happy.png")' /></p>
    
    <p>@Messages("decision.yes.message2")</p>
    
	<div id="nav">
		<a href="@routes.Application.decision()"><button id="back" type="button">@Messages("decision.back")</button></a> 
		<a href="@routes.Application.summary()"><button id="continue" type="button">@Messages("decision.yes.continue")</button></a>
		<div style="clear: both"></div>
	</div>
}
