@(guest: models.Guest)

@main(Messages("decision.title")) {
    <h1>@String.format(Messages("decision.header"), guest.name)</h1>
    
    <p>@Messages("decision.message")</p>
    
    @helper.form(action = routes.Application.submitDecision) {
    
        <div>
	    <div id="decisions">
	    <div class="radio"><input type="radio" name="decision" value="yes" onchange="showSmiley('smile')"><label onclick="changeDecision('yes')">@Messages("decision.yes")</label></div>
	    <div class="radio"><input type="radio" name="decision" value="no" onchange="showSmiley('cry')"><label onclick="changeDecision('no')">@Messages("decision.no")</label></div>
	    <div class="radio"><input type="radio" name="decision" value="maybe" onchange="showSmiley('neutral')"><label onclick="changeDecision('maybe')">@Messages("decision.maybe")</label></div>
	    </div>
	    	    
	    <div id="decisions_feedback">
	    <img id="decisionSmiley" src='@routes.Assets.at("images/think.png")'/>
	    </div>
            <div style="clear: both"></div>  
	    </div>
	    
	    <div id="nav">
	        <a href="@routes.Application.info()"><button id="back" type="button">@Messages("decision.back")</button></a>
            <input id="continue" type="submit" value='@Messages("decision.continue")' />
            <div style="clear: both"></div>  
	    </div>
    }  
}
