@(form: Form[_])

@main(Messages("login.title")) {
    <h1>@Messages("login.header")</h1>
    
    <h2 id="login_message">@Messages("login.message")</h2>
    
    @helper.form(action = routes.Application.login){
    
    <input id="code_input" type="text" name="code" value='@form("code").value' autocomplete="off"/>
    @if(form("code").hasErrors) {
    	<p id="code_error">@Messages(form("code").error.get.message)</p>
    }
    
    <div id="nav">
    <input id="continue" type="submit" value="Enter" />
    <div style="clear: both"></div>
    </div>  
    }
}
