@(guest: models.Guest)

@main(Messages("info.title")) {
    <h1>@Messages("info.header")</h1>
    
    <h2>@Messages("info.when")</h2>
    <p>@Messages("info.date")</p>
    
    <h2>@Messages("info.where")</h2>
    <p><a href="http://www.gruener-jaeger-stpauli.de" target="_blank">@Messages("info.location")</a></p>
    <p>@Messages("info.location2")</p>
    
    <p><img id="info_picture" src='@routes.Assets.at("images/gruener_jaeger.gif")' /></p>
    
    <div id="nav">
        <a href="@routes.Application.welcome()"><button id="back" type="button">@Messages("info.back")</button></a>
        <a href="@routes.Application.decision()"><button id="continue" type="button" autofocus="autofocus">@Messages("info.continue")</button></a>
        <div style="clear: both"></div>
    </div>    
}
