@(guest: models.Guest) 

@main(Messages("summary.title")) {
	<h1>@String.format(Messages("summary.header"), guest.name)</h1>
	
    <p>@Messages("summary.message")</p>
    <ul>
    <li>@Messages("summary.date")</li>
    <li>@Messages("summary.location")</li>
    </ul>
	
    <p><img id="error_picture" src='@routes.Assets.at("images/reminder.png")' /></p>
    
    <p>@Messages("summary.add_to_calendar")</p>
    <ul class="reminder_list">
    <li>
    <span>Google:</span> 
    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=30.%20Geburtstag%20Christian%20Oeing&dates=20130810T180000Z/20130811T030000Z&details=Feier%20anl%C3%A4sslich%20des%2030.%20Geburtstags%20von%20Christian%20Oeing%20mit%20Tausenden%20von%20tollen%20G%C3%A4sten!&location=Gr%C3%BCner%20J%C3%A4ger%2C%20Neuer%20Pferdemarkt%2036%2C%2020357%20Hamburg&trp=true&sprop=Geburtstagseinladung%202.0&sprop=name:birthday.oeing.eu" target="_blank">
        <img src="//www.google.com/calendar/images/ext/gc_button2.gif" border=0>
    </a>
    </li>
    <li>
    <span>Microsoft Live:</span> 
    <a href="http://calendar.live.com/calendar/calendar.aspx?rru=addevent&dtstart=20130810T180000Z&dtend=20130811T030000Z&summary=30.%20Geburtstag%20Christian%20Oeing&location=Gr%C3%BCner%20J%C3%A4ger%2C%20Neuer%20Pferdemarkt%2036%2C%2020357%20Hamburg&description=Feier%20anl%C3%A4sslich%20des%2030.%20Geburtstags%20von%20Christian%20Oeing%20mit%20Tausenden%20von%20tollen%20G%C3%A4sten!" target="_blank">
        <img src='@routes.Assets.at("images/add_to_windows.png")' />
    </a>
    </li>
    <li>
    <span>Outlook/ICS:</span> 
    <a href='@routes.Application.reminder("ics")' target="_blank">
        <img src='@routes.Assets.at("images/add_to_outlook.jpg")' />
    </a>
    </li>
    <li>
    <span>iCal:</span> 
    <a href='@routes.Application.reminder("ics")' target="_blank">
        <img src='@routes.Assets.at("images/add_to_ical.jpg")' />  
    </a>
    </li>
    </ul>
    
	<div id="nav">
		<a href="@routes.Application.questions2()"><button id="back" type="button">@Messages("summary.back")</button></a> 
		<a href="@routes.Application.logout()"><button id="continue" type="button">@Messages("summary.logout")</button></a>
		<div style="clear: both"></div>
	</div>
}
